.fith {
    width: 20%;
}

.avatar {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    height: auto;
}

.profile img {
    height: 100px;
    width: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }